body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #fff;
    font-weight: 550 !important;
   
  }
  
   .chat-layout {
    height: 100vh;
    position: relative;
    display: flex;
  }
  
  .chat-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    overflow: hidden; /* Prevent scrolling */
  }
  
  .question-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .question-button {
    width: 220px; /* Adjust width as needed */
    height: auto;
    padding: 10px; /* Add padding for spacing */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .question-button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
  }
  
  .question-button p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    white-space: normal;
  }
  
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 5px;
    margin-right: -15px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding-top: 10px; */
    /* margin-top: auto;  */
    /* background-color: #f9f9f9; */
    /* border-top: 1px solid #e0e0e0; */
    padding-bottom: 55px;
  }
  
  .chat-input textarea {
    flex: 1;
    resize: none;
  }
  
  .chat-input button {
    flex-shrink: 0;
  }
  
  .message {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
  }
  
  .message-icon {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .message-content {
    /* background-color: #fff; */
    /* padding: 10px; */
    /* border-radius: 8px; */
    flex: 1;
    padding-left:initial ; /*changed*/
    
  }
  
  .message.question {
    background-color: #e6f7ff;
    width: fit-content;
  }
  
  /* .message.answer {
    background-color: #fafafa;
  }
   */
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  table {
    width: auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd; /* Add borders to table cells */
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  /* tr:nth-child(even) {
    background-color: #f9f9f9;
  }
   */