.images-component {
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 100vh; 
  box-sizing: border-box;
  font-weight: 500;
}

.image-container {
  display: flex;
  height: calc(100% - 220px); 
  overflow: hidden;
}

.image-list {
  width: 30%; 
  margin-right: 16px; 
  overflow-y: auto;
  
  padding-right: 16px;
}

.list-header {
  font-size: 18px;
  font-weight: bold;
  color: #4B0082; 
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #4B0082; 
}

.selected-image-container {
  width: 70%; 
  padding-left: 16px;
  overflow-y: auto;
}

.selected-image img {
  width: 100%;
  max-width: 600px;
}

.list-item-content {
  padding: 10px;
  display: flex;
  align-items: center;
}

.list-item {
  border-bottom: 1px solid #4B0082; 
  cursor: pointer;
}

.list-item:hover {
  background-color:#577FB5; 
  color: #FFFFFF;
}

.list-item h3 {
  margin: 0;
  font-size: 16px;
  color: #333333; 
}

.search-button-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: 100%;
}


body {
  font-family: 'Roboto', sans-serif !important;
  color: #333333; 
  background-color: #FFFFFF; 
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow: hidden; 
}



.user-profile {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #FFFFFF; 
}

/* .ant-menu-dark .ant-menu-item-selected {
  background-color: #CED2CC !important; 
  color: black !important; 
} */

.ant-menu-dark .ant-menu-item:hover {
  background-color: #F1F1F1 !important; 
  color: #000 !important; 
}

.ant-menu-dark {
  background-color: #1C4E80; 
}

/* .ant-layout-content {
  background-color: #FFFFFF; 
  padding: 0 20px;
  border-radius: 8px;
  margin: 20px;
  flex: 1;
  overflow: hidden; 
} */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 24px;
  background: #FFFFFF; 
  border-radius: 8px;
}


.send-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.send-button .ant-btn {
  background-color: #1C4E80; 
  border-color: #4B0082;
}


.send-button .ant-btn:hover {
  background-color: #1C4E80; 
  border-color: #1C4E80;
}

.question-input {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.question-input input {
  flex: 1;
  margin-right: 10px;
}
.search-button-container {
  display: flex;
  justify-content: flex-end;
}
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected-image-container .loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
