body {
  font-family: 'Roboto', sans-serif !important;
  color: #333333; /* Dark Grey for text */
  background-color: #FFFFFF; /* White background */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure body takes full height */
  overflow: hidden; /* Prevents the default scrollbar */
}

.custom-header {
  display: flex;
  align-items: center;
  background-color: #1C4E80; /* Deep Purple for header */
  padding: 0 20px;
  border-bottom: 4px solid #1C4E80; /* Slightly darker shade of Deep Purple for bottom border */
  color: #FFFFFF; /* White font color */
}

.logo img {
  height: 47px;
  /* margin-right: 20px; */
  width: 75px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust as needed to align properly */
}


.user-profile {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #FFFFFF; /* White font color for user profile items */
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #CED2CC !important; /* Vibrant Pink for selected item */
  color: black !important; /* White font color for selected item */
}

/* .ant-menu-dark .ant-menu-item:hover {
  background-color: #FF1493 !important; /* Vibrant Pink for hover */
  /* color: black !important; /* White font color for hover state */
/* } */ 

.ant-menu-dark {
  background-color: #1C4E80; /* Deep Purple to match header */
}

.ant-layout-content {
  background-color: #FFFFFF; /* White background for content area */
  padding: 0 20px;
  border-radius: 8px;
  margin: 20px;
  flex: 1;
  overflow: hidden; /* Prevent inner scrolling */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 24px;
  background: #FFFFFF; /* White background for the form */
  border-radius: 8px;
}

/* Styling for the Send button */
.send-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.send-button .ant-btn {
  background-color: #1C4E80; /* Deep Purple for the Send button */
  border-color: #1C4E80;
}

.send-button .ant-btn:hover {
  background-color: #1C4E80; /* Slightly darker Deep Purple on hover */
  border-color: #1C4E80;
}

.question-input {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.question-input input {
  flex: 1;
  margin-right: 10px;
}
