body {
  font-family: "Roboto", sans-serif !important;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.custom-header {
  display: flex;
  align-items: center;
  background-color: #1c4e80;
  padding: 0 20px;
  border-bottom: 4px solid #1c4e80;
  color: #ffffff;
}

.logo img {
  height: 47px;
  /* margin-right: 20px; */
  width: 75px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #ffffff;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #ced2cc !important;
  color: black !important;
}

/* .ant-menu-dark .ant-menu-item:hover {
  background-color: #FF1493 !important; 
  /* color: black !important; 
/* } */

.ant-menu-dark {
  background-color: #1c4e80;
}

.ant-layout-content {
  background-color: #ffffff;
  padding: 0 5px;
  border-radius: 8px;
  /* margin: 20px; */
  flex: 1;
  overflow: hidden;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 24px;
  background: #ffffff;
  border-radius: 8px;
}

.send-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.send-button .ant-btn {
  background-color: #1c4e80;
  border-color: #1c4e80;
}

.send-button .ant-btn:hover {
  background-color: #1c4e80;
  border-color: #1c4e80;
}

.question-input {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.question-input input {
  flex: 1;
  margin-right: 10px;
}
/* Vertical column style for the feedback button */
.feedback-button {
  position: fixed;
  left: 0; /* Change from right to left */
  top: 45%;
  width: 25px; /* Adjust width for vertical button */
  height: auto;
  background-color: #1c4e80;
  color: white;
  writing-mode: vertical-rl; /* Makes text vertical */
  text-orientation: mixed; /* Ensures the text is readable vertically */
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0 5px 5px 0; /* Change the border radius to fit the left side */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feedback-button:hover {
  background-color: #143a5b;
  padding-right: 5px;
}

.notificationParah {
  margin: 5px 0;
  font-size: 12px;
  line-height: 1.4;
  font-family: sans-serif;
  color: #050e3d;
  font-weight: 400;
  opacity: 0.7;
}
.notificationHead {
  margin: 6px 0;
  font-size: 14px;
  color: #1890ff;
  cursor: pointer;
  line-height: 1.3;
}
.notificationDate {
  color: #5a9;
  margin: 0 0 6px 0;
  font-size: 12px;
  line-height: 1.2;
}
.head {
  min-width: 400px;
  max-width: 400px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.cardHead {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
